@model IEnumerable<Mooshak26.Models.Entities.Course>
@{
    ViewBag.Title = "Student courses";
}
@using Microsoft.AspNet.Identity
<h2> 
    Please choose an action next to a course.
</h2>

<table class="table">
    <tr>
        <th>
           Course
        </th>
        <th>
            Description
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("See Assignments", "Index", "Assignments", new { id = item.id }, null)
            </td>
        </tr>
    }
</table>
