@model IEnumerable<Mooshak26.Models.Entities.Course>
@{
    ViewBag.Title = "Teachers main page";
}
<h2>List of Courses</h2>
<h3>Please select an action next to each course.</h3>

<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Description
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("See Assignments", "Index", "Assignments", new { id = item.id }, null)
            </td>
        </tr>
    }
</table>
